.footer {
  background-color: #4d1834;
  color: white;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer_section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 10px;
}

.footer_section h2 {
  margin-bottom: 5px;
  font-size: 18px;
  font-size: 1rem;
}

.footer_section p {
  margin-bottom: 5px;
  line-height: 1.6;
  font-size: 0.8rem;
}

.footer_section a {
  color: white;
  text-decoration: none;
}

.footer_bottom {
  background-color: #3d1626;
  padding: 10px 0;
  text-align: center;
  font-size: 0.7rem;
}

.footer_bottom p {
  margin: 2px 0;
}

.footer_bottom a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .footer_section {
    text-align: center;
    min-width: 100%;
  }
}
