* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  /* color: #fff; */
}

.scroll-opacity-content {
  transition: opacity 0.5s ease-in-out;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* max-width: 800px; */
  margin: 0 auto;
}
