/*! HEADER STYLES */
.header_container {
  height: 80vh;
}
.header_parallax {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.header_opacity {
  height: 100%;
  width: 100%;
  background-color: #0007;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  max-width: 90vw;
  margin-bottom: 5px;
}
.slogan_wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
}

.border_effect {
  display: inline-block;
  position: relative;
  cursor: default;
}
.border_effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #fb2056;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.border_effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 800px) {
  .slogan_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .header_title {
    font-size: 1.5rem;
  }

  .slogan_wrapper h2 {
    font-size: 1rem;
  }
}
